---
import { getAllPosts } from "../sanity/api.js";
import { getSanityImage } from "../sanity/getSanityImage.js";

import "../base.css";

const posts = await getAllPosts();
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ARD Mooncultivation Scientific Blog</title>
  </head>
  <body class="font-inter max-w-md text-center mx-auto">
    <h1 class="text-3xl">Mooncultivation Blog</h1>
    <div>
      <ul class="m-4 text-blue-800">
        {
          posts.map((post) => (
            <li class="flex flex-col">
              <a href={`/posts/${post.slug.current}`}>
                <img src={getSanityImage(post.mainImage).url()} alt="" />
				{post.title}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </body>
</html>
