---

---

<footer class="p-4 md:px-6 md:py-8">
    <div class="flex justify-center">
        <ul class="flex text-sm">
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6">About Us</a>
            </li>
            <li>
                <a href="#" class="hover:underline">Contact</a>
            </li>
        </ul>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <span class="block text-sm text-center">© 2022 <a href="https://lucasodev.tk" class="hover:underline">LucasoDevDotTk</a>. All Rights Reserved.
    </span>
</footer>
